## 案例分析一：Kaggle Competition | Titanic Machine Learning from Disaster


***本作基于： [Titanic](https://github.com/agconti/kaggle-titanic). 原数据来源： [Kaggle.com](http://www.kaggle.com/c/titanic-gettingStarted).***

In [1]:
import numpy as np
import pandas as pd

#### `import … as …`是给我们引入的包加上缩写，在后续调用的时候可以直接用缩写调用

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df #直接打变量名字就可以预览数据内容

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df = df.drop(['Ticket','Cabin'], axis=1)
df = df.dropna()

#### `.drop()`是用于删除整一列数据，不作额外判断。  
* 如果将`axis`参数改为1 (默认为0)，则会沿纵向删除数据  
#### `.dropna()`用于删除空值NaN  
* 在不额外调整`axis`参数值时，同样默认遍历全部行进行删除

## 案例分析二： Data Cleaning with NumPy and Pandas
  
***本作基于： [Data-cleaning](https://github.com/mramshaw/Data-Cleaning). 原数据来源： [Pandas and NumPy](https://realpython.com/python-data-cleaning-numpy-pandas/).***

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('BL-Flickr-Images-Book.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

#### `df.head()`意为预览前五列数据
* 括号中定义数字可以预览更多行的数据

In [7]:
to_drop = ['Edition Statement',
          'Corporate Author',
          'Corporate Contributors',
          'Former owner',
          'Engraver',
          'Contributors',
          'Issuance type',
          'Shelfmarks']
df.drop(to_drop, inplace=True, axis=1)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

#### `df.drop(labels= ，inplace=false，axis=0，errors='raise')`是drop函数的部分语法默认值
* labels：在这里用`to_drop`统一标注想要删除的列；在较小的数据集中，可以直接用字符串标明需要删除的列名
* axis：默认值为0，按纵向删除；在此改为1，按列方向删除
* inplace：默认值为`false`；如果将参数改为`True`，将会直接覆盖原数据，操作不可逆
* errors：默认值为`'raise'`，此时如果出现不存在的列名则返回`KeyError`；参数改为'ignore'便可以忽略打错的列名

In [8]:
df['Identifier'].is_unique

True

#### `df['Identifier'].is_unique` 是测试某列名是否是唯一的，因为我们想要把在后续以这个列名为基础查看数据

In [9]:
df = df.set_index('Identifier')
# df.set_index('Identifier', inplace=True) 效果一样
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

#### `df.set_index('Identifier')` 是将检索值固定为了我们想要的，替换掉了默认的0,1,2…

In [10]:
df.loc[216]
# df.iloc[1]

Place of Publication                             London; Virtue & Yorston
Date of Publication                                                  1868
Publisher                                                    Virtue & Co.
Title                   All for Greed. [A novel. The dedication signed...
Author                                                          A., A. A.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 216, dtype: object

#### `df.loc[]` 是查询特定的检索值所在行的数据，在这里是Identifier的编号
* 如果loc[]查找的数值不在范围内，会返回'KeyError'
#### `df.iloc[]` 是查询相对的检索值所在的数据，默认值是`0`，即第一行的数据

In [11]:
# df.get_dtype_counts()--》老版
df.dtypes.value_counts()

object    6
Name: count, dtype: int64

#### `df.dtypes.value_counts()` 是查询数据中存在的数据类型
* object：是主要关注的结果
* Name：在这句代码中基本上可以忽略
* dtype：指的是这句代码统计结果的储存方式是整数->在计算比例的时候可能统计结果会出现float64的情况

In [12]:
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

通过这样检索“发行日期”的数据，发现格式不是统一的

In [13]:
regex = r'^(\d{4})'
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head(10)

Identifier
206     1879
216     1868
218     1869
472     1851
480     1857
481     1875
519     1872
667      NaN
874     1676
1143    1679
Name: Date of Publication, dtype: object

#### `r'^(\d{4})'` 是严格匹配字符串前四位数字的正则表达式
* `r' '`表示原始字符串，避免`\d`被python误识别
* `^`:是匹配字符串的起始符
* `\d`：意为匹配任意数字（依赖后续条件）
* `{n}`：意为匹配前一个字符n次
* `（）`：将匹配的内容捕捉为一个分组，用于后续提取  
由于正则表达式，笔者仍掌握不太熟练，其他语法元素可以参考: ***[CDSN论坛](https://blog.csdn.net/weixin_42448623/article/details/102785880)***
#### `.str.extract(r'^(\d{4})', expand=False)`用于从正则表达式中提取匹配的内容
* 在正则表达式位置，可以用提前定义好的变量名，在这里可以用`rf^{regex}`来替换原本表达式的参数位置
* expand：默认值为`True`，在匹配完数据后返回原数据+匹配后的数据；改为`False`后只返回匹配后的数据，匹配失败的返回`NaN`

In [14]:
df['Date of Publication'] = pd.to_numeric(extr,errors='coerce')
df['Date of Publication'].dtype

dtype('float64')

#### `pd.to_numeric()` 是将目标数据强制转换为数值类型（比如原来是字符串）
* `error`：设定参数为`coerce`可以将无效值转换为`NaN`；`ignore`可以保留原始数据类型，但是不建议
* 如果全部值都可以转换为整数，则`.dtype`结果会返回`int64`；如果存在NaN，那么会转换为`float64`

In [15]:
df['Date of Publication'].head()

Identifier
206    1879.0
216    1868.0
218    1869.0
472    1851.0
480    1857.0
Name: Date of Publication, dtype: float64

至此，我们格式化了出版日期的年份。接下来开始格式化出版地名的数据

In [16]:
df['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [19]:
pub = df['Place of Publication']
london = pub.str.contains('London')
london[:10]

Identifier
206      True
216      True
218      True
472      True
480      True
481      True
519      True
667     False
874      True
1143     True
Name: Place of Publication, dtype: bool

#### `str.contains()` 是用于检查字符串列是否包含特定子串（可以是正则表达式）
* pat：要匹配的是字符串还是正则表达式
* case：默认为`True`，意为是否区分大小写
* flags：正则表达式的标志（如忽略大小写）
* na：处理缺失值的方式，默认将`NaN`处理为`False`
* regex：默认为`True`，即视为正则表达式；在这里因为无需匹配额外的符号等，所以用True和False没有区别
  
在这里结果是：精确匹配是否存在字符串为`"London"`  
如果改为`.str.contains('London', case=False)`，则可以查到登记为`"london"`的出版地

In [22]:
oxford = pub.str.contains('Oxford')
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                      pub.str.replace('-', ' ')))
df['Place of Publication'].head(20)

Identifier
206          London
216          London
218          London
472          London
480          London
481          London
519          London
667          Oxford
874          London
1143         London
1280       Coventry
1808    Christiania
1905        Firenze
1929      Amsterdam
2836         Savona
2854         London
2956          Paris
2957          Paris
3017    Puerto Rico
3131       New York
Name: Place of Publication, dtype: object

#### `np.where()` 是为了满足：根据不同条件返回不同的值
* 参数填充顺序为：  
      i.条件1，满足条件时的填充值；  
      ii.用嵌套自身的方式填充：条件2，满足条件2时填充的值  
      iii.在嵌套的最末尾填上如果不满足时，需要填充的值
  
* 此处的判断逻辑为：
      i.检查在检索的列中，是否存在`London`，满足的话填充"London"  
      ii.如果没有`London`，转入第二层，检查是否存在`Oxford`，满足的话填充"Oxford"  
      iii.如果都不满足，便仅将"-"替换为"空格"

In [ ]:
至此，我们就完成了对出版日期和出版地的数据清洗。